{% if important %}
    <table class="toc important">
        {% for p in important %}
            <tr>
                <td>
                    {% if p.icon %}
                        <img src="{{ MEDIA_URL }}{{ p.icon.icon }}" alt="{{ p.icon.name }}" class="title-icon"/>
                    {% endif %}
                </td>
                <td><a href="#Anchor_{{ p.position }}">{{ p.title }}</a></td>
            </tr>
        {% endfor %}
    </table>
{% endif %}
<table class="toc">
    {% for p in not_important %}
        <tr>
            <td>
                {% if p.icon %}
                    <img src="{{ MEDIA_URL }}{{ p.icon.icon }}" alt="{{ p.icon.name }}" class="title-icon"/>
                {% endif %}
            </td>
            <td><a href="#Anchor_{{ p.position }}">{{ p.title }}</a></td>
        </tr>
    {% endfor %}
</table>